<div class="col-lg-10">
    <div class="row well">
        <div class="panel-heading">
            <h1>
                {{message}}!
            </h1>
        </div>
        <div class="col-lg-6" style="height:800px">
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h3 class="panel-title">All Appointments</h3>
                </div>
                <div class="panel-body" style="height:80%;overflow-y: scroll;">
                    <ul>
                        <li id="{{app.Patient}}{{app.Employee}}{{app.Date}}" class="alert alert-info" ng-repeat="app in userData.Admin.Appointments">
                            <h4>{{app.Date}} {{app.Time}} {{app.Notes}}</h4> Patient:{{app.Patient}}  Employee:{{app.Employee}}
                            <button id="{{app.Patient}}{{app.Employee}}{{app.Date}}" ng-click="changeAppointment(this)">Test</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Pending Appoinments
                    </h3>
                </div>
                <div class="panel-body" style="height:80%;overflow-y: scroll;">
                    <ul>
                        <li ng-show="app.Approved === 'Pending'" class="alert alert-warning" ng-repeat="app in userData.Admin.Appointments">
                            <h4>{{app.Date}} {{app.Time}} {{app.Notes}}</h4> Patient:{{app.Patient}}  Employee:{{app.Employee}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="height:800px">
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h3 class="panel-title">Schedule an Appointment</h3>
                </div>
                <div class="panel-body col-lg-12" style="height:80%;overflow-y: scroll;">
                    <form class="form-horizontal col-lg-12">
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="datepicker">Date:</label>
                            <div class="col-sm-10 col-lg-9">
                                <input ng-model="date" type="text" class="form-control" id="datepicker">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Time</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="time" class="form-control" id="type">
                                    <option ng-repeat="t in time">{{t}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Type:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="type" class="form-control" id="type">
                                    <option>Dental</option>
                                    <option>Cleaning</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Employee:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="employee" class="form-control" id="type">
                                    <option>N/A</option>
                                    <option ng-value="user.Username" ng-show="user.Type == 'employee'" ng-repeat="user in userData.Admin.Users">{{user.FirstName}} {{user.LastName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Patient:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="patient" class="form-control" id="type">
                                    <option>N/A</option>
                                    <option ng-value="user.Username" ng-show="user.Type == 'patient'" ng-repeat="user in userData.Admin.Users">{{user.FirstName}} {{user.LastName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="notes">Notes:</label>
                            <div class="col-sm-10 col-lg-9">
                                <textarea ng-model="notes"style="width:100%" id="notes"></textarea>
                            </div>
                        </div>
                        <div style="text-align:right">
                            <button class="btn-success" ng-click="submit()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Users
                    </h3>
                </div>
                <div class="panel-body" style="height:80%;overflow-y: scroll;">
                    <ul>
                        <li class="well" ng-repeat="user in userData.Admin.Users">
                            <b>Username:</b> {{user.Username}} <b>First:</b> {{user.FirstName}} <b>Last:</b> {{user.LastName}} <b>Password:</b> {{user.Password}}
                            <button type="button" class="btn btn-danger btn-xs" style="float:right">
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
