<div class="col-lg-10">
    <div class="row well" style="height:800px">
        <div class="panel-heading">
            <h1>
                {{message}}!
            </h1>
        </div>
        <div class="col-lg-6" style="height:800px">
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Notifications
                    </h3>
                </div>
                <div class="panel-body" style="height:80%;overflow-y: scroll;">
                    <div class="alert alert-warning" role="alert" ng-repeat="msg in userData.User.Messages" style="margin:1px">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true" ng-click="deleteMessage(msg.Id)">&times;</span>
                        </button>
                        {{msg.Info}}
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h2 class="panel-title">All Appointments</h2>
                </div>
                <div class="panel-body" style="height:80%;overflow-y: scroll;">
                    <ul>
                        <li class="alert alert-info" ng-repeat="app in userData.User.Appointments">
                            <div class="h2">
                                {{app.Title}}
                                <button type="button" class="btn btn-default" aria-label="Right Align" style="float: right;" ng-click="changeAppointment(app.Id)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Right Align" style="float: right;" ng-click="deleteAppointment(app.Id)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                            Patient:{{app.Patient.FirstName}} {{app.Patient.LastName}} <br />
                            Employee:{{app.Employee.FirstName}} {{app.Employee.LastName}}<br />
                            Date:{{app.Date}} <br />
                            Time:{{app.Time}} <br />
                            <form id="{{app.Id}}changeForm" ng-show="hideInactive(app.Id) == true" class="form-horizontal col-lg-12">
                                <br />
                                <div class="form-group col-lg-12">
                                    <label class="control-label col-sm-2 col-lg-3" for="datepicker">Date:</label>
                                    <div class="col-sm-10 col-lg-9">
                                        <input type="date" class="form-control" id="changeDate{{app.Id}}" placeholder="{{app.Date}}">
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="control-label col-sm-2 col-lg-3" for="type">Time</label>
                                    <div class="col-sm-10 col-lg-9">
                                        <select class="form-control" id="changeTime{{app.Id}}">
                                            <option ng-repeat="t in time">{{t}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="control-label col-sm-2 col-lg-3" for="type">Type:</label>
                                    <div class="col-sm-10 col-lg-9">
                                        <select class="form-control" id="changeType{{app.Id}}">
                                            <option>Dental</option>
                                            <option>Cleaning</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="control-label col-sm-2 col-lg-3" for="type">Employee:</label>
                                    <div class="col-sm-10 col-lg-9">
                                        <select class="form-control" id="type">
                                            <option>N/A</option>
                                            <option ng-value="user.Username" ng-show="user.Type == 'employee'" ng-repeat="user in userData.Admin.Users">{{user.FirstName}} {{user.LastName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="control-label col-sm-2 col-lg-3" for="type">Patient:</label>
                                    <label class="control-label col-sm-2 col-lg-3" for="type">{{app.Patient}}</label>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="control-label col-sm-2 col-lg-3" for="notes">Notes:</label>
                                    <div class="col-sm-10 col-lg-9">
                                        <textarea style="width:100%" id="notes" placeholder="{{app.Notes}}"></textarea>
                                    </div>
                                </div>
                                <div style="text-align:right">
                                    <button class="btn-success" ng-click="updateAppointment(app.id)">Submit</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="height:800px">
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h3 class="panel-title">Schedule an Appointment</h3>
                </div>
                <div class="panel-body col-lg-12" style="height:80%;overflow-y: scroll;">
                    <form class="form-horizontal col-lg-12">
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Type:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="type" class="form-control" id="type">
                                    <option value="Dentist">Dental</option>
                                    <option value="Hygenist">Cleaning</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Employee:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="employee" class="form-control" id="type">
                                    <option ng-value="user.Username" ng-show="user.Role == type" ng-repeat="user in userData.User.Users">{{user.FirstName}} {{user.LastName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="date">Date:</label>
                            <div class="col-sm-10 col-lg-9">
                                <input ng-model="date" type="date" id="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Time</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="time" class="form-control" id="type">
                                    <option ng-repeat="t in time" ng-show="employeeAvailable(t)">{{t}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Patient:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select ng-model="patient" class="form-control" id="type">
                                    <option>N/A</option>
                                    <option ng-value="user.Username" ng-show="user.Type == 'patient'" ng-repeat="user in userData.User.Users">{{user.FirstName}} {{user.LastName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="notes">Notes:</label>
                            <div class="col-sm-10 col-lg-9">
                                <textarea ng-model="notes" style="width:100%" id="notes"></textarea>
                            </div>
                        </div>
                        <div style="text-align:right">
                            <button class="btn-success" ng-click="createAppointment()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary" style="height:40%">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Users
                    </h3>
                </div>
                <div class="panel-body" style="height:80%;overflow-y: scroll;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in userData.User.Users">
                                <td>{{user.Username}}</td>
                                <td>{{user.FirstName}}</td>
                                <td>{{user.LastName}}</td>
                                <td>{{user.Type}}</td>
                                <td><span ng-class="{'label label-success': user.Status == 'Active'}">{{user.Status}}</span></td>
                                <td><button class="confirm-delete btn mini red-stripe" role="button" ng-click="deleteUser(user.Username)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
