<div class="col-lg-10">
    <div class="row well">
        <div class="panel-heading">
            <h1>
                {{message}}!
            </h1>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming Appointments</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-show="app.Approved === 'True'" class="alert alert-info" ng-repeat="app in userData.Patient.FutureAppointments">
                            {{app.Patient}} {{app.Date}} {{app.Employee}} {{app.Notes}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Past Appointments
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-show="app.Approved === 'False'" class="alert alert-success" ng-repeat="app in userData.Patient.FutureAppointments">
                            {{app.Patient}} {{app.Date}} {{app.Employee}} {{app.Notes}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Request an Appointment (Not currently functional)</h3>
                </div>
                <div class="panel-body col-lg-12">
                    <form class="form-horizontal col-lg-12">
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="datepicker">Date:</label>
                            <div class="col-sm-10 col-lg-9">
                                <input type="text" class="form-control" id="datepicker">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Type:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select class="form-control" id="type">
                                    <option ng-repeat="t in time">{{t}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="type">Type:</label>
                            <div class="col-sm-10 col-lg-9">
                                <select class="form-control" id="type">
                                    <option>Dental</option>
                                    <option>Cleaning</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-sm-2 col-lg-3" for="notes">Notes:</label>
                            <div class="col-sm-10 col-lg-9">
                                <textarea style="width:100%" id="notes"></textarea>
                            </div>
                        </div>
                        <div style="text-align:right">
                            <button class="btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Pending Appointments
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-show="app.Approved === 'Pending'" class="alert alert-warning" ng-repeat="app in userData.Patient.FutureAppointments">
                            {{app.Patient}} {{app.Date}} {{app.Employee}} {{app.Notes}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
